/* 
CSS for laptop and desktop sized screens
*/

@media only screen and (min-width: 1024px) {
  
  /* Navigation */

  #primary-nav-links li {
    font-size: 1.8em;
    padding-left: 12%;
  }

  /* Main */

  #main-container {
    display: flex;
  }

  #main-content {
    margin-right: 15px;
    flex: 0 1 80%;
  }

  #sidebar {
    margin-left: 15px;
    flex: 0 1 20%;
  }

  #blog-post-list {
    flex-direction: column;
  }

  /* Footer */

  #footer-container h3 {
    font-size: 1.8em;
  }

  #footer-container li {
    font-size: 1.1em;
  }

  .social-links li {
    width: 101px;
  }

  #footer-div-3 {
    font-size: .85em;
  }

  #footer-div-3 p:first-child {
    padding: 0 15px 0 0;
  }
  
  #footer-div-3 p:last-child {
    padding: 0 0 0 15px;
  }
}