/* 
Laptops and desktop sized screens
*/

@media only screen and (min-width: 1024px) {
  
  /* Header */

  #header-content {
    max-width: 1256px;
  }

  /* Navigation */

  #primary-nav-links li {
    font-size: 1.8em;
    padding-left: 12%;
  }

  /* Main */
  /* #main-container and #main-content */

  #page-heading {
    padding: 50px 0;
  }

  #main-container {
    width: 95%;
  }

  #main-aside {
    display: flex;
  }

  #main-content {
    margin-right: 30px;
    flex: 0 1 80%;
  }

  /* Sidebar */
  /* Sidebar - General */

  #sidebar {
    margin-left: 30px;
    flex: 0 1 20%;
  }

  #recent-blog-posts, #latest-looks {
    padding-bottom: 20px;
  }

  #recent-blog-posts h2, #latest-looks h2 {
    font-size: 1.2em;
    padding: 15px 0;
  }

  #blog-post-list {
    flex-direction: column;
    margin: 7.5px 0 12.5px;
  }

  .blog-snippet, .look-snippet {
    margin: 7.5px 0;
  }
  
  #latest-looks-list {
    margin: 7.5px 0 12.5px;
    display: flex;
    flex-direction: column;
  }

  .sidebar-btn {
    width: 90%;
    margin: 0 auto;
  }

  /* Footer */

  #footer-container h3 {
    font-size: 1.8em;
  }

  #footer-container li {
    font-size: 1.1em;
  }

  .social-links li {
    width: 101px;
  }

  #footer-div-3 {
    font-size: .85em;
  }

  #footer-div-3 p:first-child {
    padding: 0 15px 0 0;
  }
  
  #footer-div-3 p:last-child {
    padding: 0 0 0 15px;
  }
}

/* Some specific styles for larger laptops and desktops */

@media only screen and (min-width: 1441px) {
  
  /* Header */

  header {
    max-height: 200px;
    max-height: 7vw;
  }

  #header-content {
    max-width: 85%;
  }

  #logo img {
    max-height: 200px;
    max-height: 7vw;
  }

  /* Navigation */

  #primary-nav-links li {
    font-size: 2vw;
  }

  /* Main */

  #main-container {
    max-width: 85%;
  }

  #page-heading {
    font-size: 5vw;
    padding: 100px 0;
  }

  /* Sidebar */

  .blog-snippet, .look-snippet {
    margin: 15px 0;
  }


}