/**************************
Global Styles
Mobile sized screens
**************************/

/* Universal Styles */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
li a:hover,
#secondary-nav a:hover,
#nav-menu:hover p,
#nav-menu:hover button,
#primary-nav-links li a:hover {
  color: rgb(255, 242, 126);
  transition: color 0.5s ease-in-out;
}

/* Header Styles */

header {
  background-color: rgb(72, 71, 36);
  border-bottom: 2px solid rgb(247, 246, 197);
  height: 20vw;
  max-height: 100px;
  position: sticky;
  z-index: 2;
  top: 0;
}

#header-content {
  display: flex;
  width: 100%;
  max-width: 1256px;
  height: 100%;
  top: 0;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
}

#logo img {
  padding: 0 16px;
  height: 20vw;
  max-height: 100px;
}

/* Navigation Styles */

header nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

/* Mobile Nav Hamburger Button */

#nav-menu {
  padding: 0 16px;
}

#nav-menu-text {
  font-size: .8em;
  margin: 0 0 -15px -1px;
  color: rgb(247, 246, 197);
  cursor: pointer;
  text-shadow: -2px 2px 1px black;
}

#nav-menu-button {
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: rgb(247, 246, 197);
  margin: 0 0 -5px -1px;
  padding: 0;
  text-shadow: -2px 2px 1px black;
}

#x-menu-button {
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: rgb(247, 246, 197);
  margin: 5px 0 -5px -1px;
  padding: 0;
  text-shadow: -2px 2px 1px black;
}

#x-menu-text {
  font-size: .8em;
  margin: 5px 0 -15px -1.5px;
  color: rgb(247, 246, 197);
  cursor: pointer;
  text-shadow: -2px 2px 1px black;
}

/* Mobile Nav List */

#secondary-nav {
  position: fixed;
  z-index: 2;
}

#secondary-nav ul {
  padding: 0;
  margin: 0;
}

#secondary-nav ul li {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  font-size: 1.2em;
  letter-spacing: .1em;
  font-style: italic;
  border-bottom: 1px solid rgba(247, 246, 197);
  background-color: rgb(54, 53, 27, .8);
  color: rgba(247, 246, 197, .8);
  text-shadow: -2px 2px rgba(0, 0, 0, .8);
}

#secondary-nav ul li:hover {
  background-color: rgba(54, 53, 27);
  color: rgba(255, 242, 126);
  text-shadow: -2px 2px rgba(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

#secondary-nav ul {
  border-bottom: 1px solid rgb(247, 246, 197);
}

/* Greys out rest of page when mobile nav is open */

.second-nav-open {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0.5;
}

.close-secondary-nav {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

#grey-out-div {
  width: 100vw;
  height: 100vh;
}

/* Main Styles */
/* Main, #main-container, & #page-heading */

main {
  background-color: #FFFFF9;
}

#main-container {
  margin: 0 auto;
  width: 90%;
}

#page-heading {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 8vw;
  font-weight: 400;
  font-style: italic;
  text-shadow: -1.5px 1.5px 1px #ad966a;
  color: rgb(45, 29, 29);
  padding: 25px 0;
  margin: 0;
}

/* Main Styles */
/* index.html - #main-content */

#cover {
  margin-bottom: 25px;
}

#cover figure {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin: 0;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

#cover figure:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

#cover-picture img {
  border-radius: 20px 20px 0 0;
}

#cover-caption {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  margin-top: -2px;
  background: white;
  border-radius: 0 0 20px 20px;
}

/* Sidebar */
/* Sidebar - General */

#sidebar {
  border-radius: 20px;
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  margin-bottom: 25px;
  /* width: 100px; */
}

#recent-blog-posts,
#latest-looks {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

#sidebar a {
  transition: color .5s ease-in;
}

#sidebar a:hover {
  transition: color .5s ease;
}

#sidebar h2 {
  text-align: center;
  font-size: 1.3em;
  padding: 20px 0;
  margin: 0;
  color: #2E1D1D;
}

#sidebar hr {
  background-color: #2E1D1D;
  border: none;
  height: 1px;
  margin: 0;
}

/* Sidebar */
/* Sidebar - Recent Blog Posts */

#blog-post-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.blog-snippet {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  background-color: #C6C5A6;
  display: flex;
  margin: 10px auto;
  border-radius: 5px;
  /* width: 100%; */
}

.blog-snippet-thumbnail {
  flex: 0 1 30%;
}

.blog-snippet-thumbnail img {
  display: block;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.blog-snippet-content {
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  color: #2E1D1D;
  text-align: center;
}

.blog-snippet-title-date {
  margin: 0;
}

.blog-snippet-title-date h3 {
  font-weight: bold;
  margin: 0;
}

.blog-snippet-title-date p {
  font-size: .8em;
  font-style: italic;
  margin: 5px 0;
}

.blog-snippet-read-more {
  margin: 0;
  text-decoration: underline;
  font-size: .8em;
}

/* Sidebar */
/* Sidebar - Recent Blog Posts (600px+) */

@media only screen and (min-width: 600px) {

  .blog-snippet-title-date h3 {
    font-size: 1.1em;
  }

  .blog-snippet-title-date p {
    font-size: .9em;
    margin: 15px 0;
  }

  .blog-snippet-read-more {
    font-size: .9em;
  }

}

/* Sidebar */
/* Sidebar - Latest Looks */

/* Grid template only for small and medium */
@media only screen and (max-width: 1023px) {

  #latest-looks-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(201px, 1fr));
    grid-gap: 15px;
    margin: 20px 0;
  }

}

.look-snippet {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  background-color: #C6C5A6;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.look-snippet-thumbnail {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.look-snippet-date {
  color: #2E1D1D;
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  margin: 0;
}

/* Main Styles */
/* Sidebar - Button Styles */

.sidebar-btn {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}

.btn-style {
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  height: 45px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  color: rgb(72, 71, 36);
  transition: all .5s ease-in-out;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.btn-style:hover {
  background-position: 100% 0;
  color: rgb(198, 197, 166);
  transition: all .5s ease-in-out;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.btn-style.btn-color {
  background-image: linear-gradient(to right, rgb(198, 197, 166), rgb(198, 197, 166), rgb(72, 71, 36), rgb(72, 71, 36));
  box-shadow: -2px 5px 15px 0px rgba(72, 71, 36, .75);
}

/* Newsletter */
/* Newsletter Signup Card */
/* Border */

#newsletter-signup-border {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto 25px;
  border-radius: 20px;
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  background-image: radial-gradient(farthest-corner at 15% 0%,
      rgb(72, 71, 36) 0%, rgb(198, 197, 166) 100%);
  display: flex;
}

/* Newsletter Signup Card */
/* Content Box */

#newsletter-signup-content {
  width: 100%;
  border: 1px solid rgb(247, 246, 197);
  border-radius: 20px;
  padding: 20px 25px;
  margin: 0 20px;
  background-image: radial-gradient(circle at center,
      ivory 50%, rgb(247, 246, 197) 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(45, 29, 29);
}

#newsletter-signup-content h2 {
  margin: 0;
  font-weight: normal;
  text-shadow: -1.5px 1.5px 1px #ad966a;
}

#newsletter-signup-content p {
  margin: 30px 0;
}

/* Newsletter Signup Card */
/* Signup Button */

.signup-btn {
  padding: 10px 20px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  color: rgb(72, 71, 36);
  background-image: linear-gradient(to right, rgb(198, 197, 166), rgb(198, 197, 166), rgb(72, 71, 36), rgb(72, 71, 36));
  background-size: 300% 100%;
  border: none;
  border-radius: 10px;
  box-shadow: -1px 1px 0px 1px rgba(72, 71, 36, .7);
  transition: all .5s ease-in-out;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.signup-btn:hover {
  background-position: 100% 0;
  color: rgb(198, 197, 166);
  box-shadow: -1px 1px 0px 1px rgb(163, 162, 130);
  transition: color, background-position .5s ease-in-out;
  moz-transition: color background-position .5s ease-in-out;
  -o-transition: color background-position .5s ease-in-out;
  -webkit-transition: color background-position .5s ease-in-out;
}

.signup-btn:active {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
  transform: translateY(1px);
}

/* Newsletter Popup */
/* Background */

#newsletter-popup {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  height: 100%;
}

/* Newsletter Popup */
/* Border */

#newsletter-popup-border {
  align-items: center;
  display: flex;
  height: 100vw;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  background-image: radial-gradient(farthest-corner at 15% 0%,
      rgb(72, 71, 36) 0%, rgb(198, 197, 166) 100%);
}

/* Newsletter Popup */
/* Content Box */

#newsletter-popup-content {
  color: #2E1D1D;
  text-align: center;
  height: calc(100% - 40px);
  border: 1px solid rgb(72, 71, 36);
  margin: 0 20px;
  background-image: radial-gradient(circle at center,
      ivory 50%, rgb(247, 246, 197) 100%);
  display: flex;
  flex-direction: column;
}

/* Newsletter Popup */
/* Content Button */

#hide-popup {
  color: inherit;
  border: none;
  width: 24px;
  align-self: flex-end;
  background-color: inherit;
  text-align: right;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0 4px 0 0;
  line-height: 1;
}

/* Newsletter Popup */
/* Content Text */

#newsletter-popup-text {
  display: flex;
  flex-direction: column;
  margin: 0 15px 40px;
  justify-content: center;
  height: 100%;
}

#newsletter-popup-text h2 {
  margin: 15px 15px 25px;
  letter-spacing: .05em;
  font-size: 1.75em;
  font-weight: normal;
  text-shadow: -1.5px 1.5px 1px #ad966a;
}

#newsletter-popup-text p {
  margin: 0 15px 20px;
}

/* Newsletter Popup */
/* Content Text - Inputs for email & submit */

#signup-input-wrapper {
  margin: 0 auto;
  display: inline-block;
}

#email-text-field {
  padding: 10px;
  width: 170px;
}

#email-text-field:focus {
  outline: none;
  border: 1px solid #4D90FE;
  -webkit-box-shadow: 0px 0px 5px #4D90FE;
  box-shadow: 0px 0px 5px #4D90FE;
}

#email-text-field.error {
  border: 1px solid #fe4d4d;
  -webkit-box-shadow: 0px 0px 5px #fe4d4d;
  box-shadow: 0px 0px 5px #fe4d4d;
}

#email-text-field.correct {
  border: 1px solid green;
  -webkit-box-shadow: 0px 0px 5px green;
  box-shadow: 0px 0px 5px green;
}

.signup-btn-popup {
  margin: 0 0 0 -3px;
  border-radius: 0;
  padding: 12px 20px 10px 20px;
}

/* Back to Top Button */

#top-style {
  display: block;
  width: 65px;
  height: 65px;
  font-size: 3em;
  margin: 0 auto 25px;
  cursor: pointer;
  border: none;
  color: rgb(72, 71, 36);
  background-image: linear-gradient(to right, rgb(198, 197, 166), rgb(198, 197, 166), rgb(72, 71, 36), rgb(72, 71, 36));
  background-size: 300% 100%;
  border-radius: 50px;
  box-shadow: -2px 5px 15px 0px rgba(72, 71, 36, .75);
  transition: all .5s ease-in-out;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

#top-style:hover {
  background-position: 100% 0;
  color: rgb(198, 197, 166);
  transition: all .5s ease-in-out;
  moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/* Footer */
/* Footer - General */

footer {
  background-color: rgb(72, 71, 36);
  border-top: 2px solid rgb(247, 246, 197);
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  color: rgb(247, 246, 197);
  text-align: center;
}

#footer-content {
  max-width: 1024px;
  margin: 0 auto;
}

#footer-container {
  /* Contains two divs: social links and cozychic links */
  display: flex;
  flex-direction: column;
  text-align: center;
}

#footer-container h3 {
  font-size: 1.6em;
  margin: 25px 0;
  text-shadow: -2px 2px black;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color: rgb(247, 246, 197);
}

.social-links {
  text-align: right;
}

.social-links li {
  width: 91.5px;
  font-size: 1em;
  padding: 2.5px 0;
  margin: 0 auto;
}

.page-links li {
  padding: 2.5px 0;
}

#footer-div-3 {
  /* Div for copyright info, etc */
  font-size: .75em;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

#footer-div-3 p {
  margin: 6px 0;
  padding: 0 10px;
}

/* Footer */
/* Footer - Aligning Social Icons to Left */

.social-links li:nth-of-type(2) i {
  position: relative;
  right: 21.25px;
}

.social-links li:nth-of-type(3) i {
  position: relative;
  right: 8px;
}

.social-links li:nth-of-type(4) i {
  position: relative;
  right: 31px;
}

/* Hidden Elements */

#primary-nav-links {
  /* Won't become visible until 768px */
  display: none;
}

.secondary-nav-hidden {
  /* Mobile Nav */
  display: none;
}

.nav-menu-hidden {
  /* Mobile Nav - Menu Button */
  display: none;
}

.x-menu-hidden {
  /* Mobile Nav - Close Button */
  display: none;
}

/* Some additional styles for extra small phones up to 350px */

@media only screen and (max-width: 350px) {

  /* Smaller text for multiple elements */

  #secondary-nav ul li, #cover-caption, .blog-snippet-title-date h3, .look-snippet-date, .sidebar-btn, #newsletter-signup-content p, #newsletter-popup-text p {
    font-size: .8em;
  }

  /* Mobile Nav Button */

  #nav-menu {
    padding: 0;
  }

  #nav-menu-text {
    font-size: .6em;
    margin: 0 0 -10px -1px;
  }
  
  #nav-menu-button {
    font-size: 2em;
    margin: 0 0 -5px -1px;
  }
  
  #x-menu-button {
    font-size: 2.5em;
    margin: 5px 0 -5px -1px;
  }
  
  #x-menu-text {
    font-size: .6em;
    margin: 5px 0 -15px -1.5px;
  }

  /* Sidebar - Blog/Look Snippets */

  .blog-snippet-thumbnail {
    flex: 0 1 50%;
  }
  
  .blog-snippet-content {
    flex: 0 1 50%;
    justify-content: space-between;
    margin: 10px 5px;
  }

  .blog-snippet-title-date h3 {
    margin-bottom: 10px;
  }

  .blog-snippet-title-date p, .blog-snippet-read-more {
    font-size: .6em;
  }

  /* Newsletter Section */

  #newsletter-popup-text h2 {
    font-size: 1.5em;
  }

  #email-text-field {
    padding: 7px;
    width: 130px;
    font-size: .7em;
  }

  .signup-btn-popup {
    margin: 0 0 0 -3px;
    border-radius: 0 10px 10px 0;
    padding: 9px 16px 7px;
    font-size: .7em;
  }

  /* Back to Top Button */

  #top-style {
    height: 45px;
    width: 45px;
    font-size: 2em;
  }

  /* Footer */

  #footer-div-3 {
    font-size: .5em;
  }

}