/**************************
CSS for main styles and mobile screen sizes
**************************/

/* Universal Styles */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, li a:hover, #secondary-nav a:hover, #nav-menu:hover p, #nav-menu:hover button, #primary-nav-links li a:hover  {
  color: rgb(255, 242, 126);
  transition: color 0.5s ease-in-out;
}

/* Header Styles */

header {
  width: 100%;
  display: flex;
  background-color: rgb(72,71,36);
  border-bottom: 2px solid rgb(247,246,197);
  height: 100px;
  position: sticky;
  z-index: 2;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

#header-content {
  display: flex;
  width: 100%;
  max-width: 1256px;
  height: 100%;
  position: relative;
  z-index: 2;
  top: 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 12px;
}

#logo img {
  padding: 0 16px;
}

/* Navigation Styles */

#nav-menu {
  padding: 0 16px;
}

header nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}

/* Mobile Nav Menu Button */

#nav-menu-text {
  width: 100%;
  font-size: .8em;
  text-align: center;
  padding: 0;
  margin: 0 0 -15px 0;
  color: rgb(247,246,197);
  cursor: pointer;
  text-shadow: -2px 2px 1px black;
}

#nav-menu-button {
  width: 100%;
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: rgb(247,246,197);
  margin: 0 0 -5px -1px;
  padding: 0;
  text-shadow: -2px 2px 1px black;
}

#x-menu-button {
  width: 100%;
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: rgb(247,246,197);
  margin: 5px 0 -5px -1px;
  padding: 0;
  text-shadow: -2px 2px 1px black;
}

#x-menu-text {
  width: 100%;
  font-size: .8em;
  text-align: center;
  padding: 0;
  margin: 5px 0 -15px -1.5px;
  color: rgb(247,246,197);
  cursor: pointer;
  text-shadow: -2px 2px 1px black;
}

/* Secondary Nav */

#secondary-nav {
  position: fixed;
  z-index: 2;
  top: 100px;
  width: 100%;
}

#secondary-nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

#secondary-nav ul li {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  letter-spacing: .1em;
  font-style: italic;
  border-bottom: 1px solid rgba(247,246,197);
  background-color: rgb(54, 53, 27, .8);
  color: rgba(247,246,197,.8);
  text-shadow: -2px 2px rgba(0, 0, 0, .8);
}

#secondary-nav ul li:hover {
  background-color: rgba(54, 53, 27);
  color: rgba(255, 242, 126);
  text-shadow: -2px 2px rgba(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

#secondary-nav ul {
  border-bottom: 1px solid rgb(247,246,197);
}

.second-nav-open {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0.5;
  z-index: 1;
}

.close-secondary-nav {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
  z-index: 1;
}

/* Main Styles */

main {
  padding: 25px 0;
  background-color: #FFFFF9;
  max-width: 1280px;
  margin: 0 auto;
}

#website-heading {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 6vw;
  font-weight: 400;
  font-style: italic;
  text-shadow: -1.5px 1.5px 1px #ad966a;
  color: rgb(45,29,29);
  padding-bottom: 25px;
  margin: 0;
}

#main-container {
  /* display: flex;
  flex-direction: column; */
  width: 90%;
  margin: 0 auto;
}

#cover figure {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin: 0 0 25px 0;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

#cover figure:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

#cover-picture img {
  border-radius: 20px 20px 0 0;
}

#cover-caption {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  margin-top: -2px;
  background: white;
  border-radius: 0 0 20px 20px;
}

#sidebar {
  border-radius: 20px;
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
}

#recent-blog-posts, #latest-looks {
  width: 90%;
  margin: 0 auto;
}

#sidebar a {
  transition: color .5s ease-in;
}

#sidebar a:hover {
  transition: color .5s ease;
}

#sidebar h3 {
  text-align: center;
  font-size: 1.3em;
  margin: 20px 0;
  color: #2E1D1D;
}

#sidebar hr {
  background-color: #2E1D1D;
  border: none;
  height: 1px;
}

#blog-post-list {
  display: flex;
}

.blog-snippet {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, .5);
  background-color: #C6C5A6;
  display: flex;
  margin: 10px auto;
  padding: 0;
  border-radius: 5px;
  width: 100%;
}

.blog-snippet-thumbnail img {
  display: block;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.blog-snippet-content {
  color: #2E1D1D;
  text-align: center;
}

.blog-snippet-title-date {
  margin: 0;
}

.blog-snippet-title-date p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

.blog-snippet-title-date p:nth-child(2) {
  font-size: .8em;
  font-style: italic;
  margin: 5px 0;
}

.blog-snippet-read-more {
  margin: 0;
  text-decoration: underline;
  font-size: .8em;
}

@media only screen and (max-width: 768px) {

  #blog-post-list {
    flex-direction: column;
  }

  .blog-snippet-thumbnail {
    flex: 0 1 26%;
  }

  .blog-snippet-content {
    flex: 0 1 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
  }

}

@media only screen and (min-width: 600px) {
  
  .blog-snippet-title-date p:nth-child(1) {
    font-size: 1.1em;
  }

  .blog-snippet-title-date p:nth-child(2) {
    font-size: .9em;
    margin: 15px 0;
  }

  .blog-snippet-read-more {
    font-size: .9em;
  }

}

/* Footer Styles */

footer {
  background-color: rgb(72,71,36);
  border-top: 2px solid rgb(247,246,197);
  position: relative;
  bottom: 0;
  /* max-width: 1024px; */
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  color: rgb(247,246,197);
  text-align: center;
}

#footer-content {
  max-width: 1024px;
  margin: 0 auto;
}

#footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#footer-container h3 {
  font-size: 1.6em;
  margin: 25px 0;
  text-shadow: -2px 2px black;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color:rgb(247,246,197);
}

.social-links {
  text-align: right;
}

.social-links li {
  width: 91.5px;
  font-size: 1em;
  padding: 2.5px 0;
  margin: 0 auto;
}

.page-links li {
  padding: 2.5px 0;
}

#footer-div-3 {
  font-size: .75em;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

#footer-div-3 p:first-child {
  margin: 6px 0;
  padding: 0 10px 0 0;
}

#footer-div-3 p:last-child {
  margin: 6px 0;
  padding: 0 0 0 10px;
}

/* Footer - Aligning Social Icons to Left */

.social-links li:nth-of-type(2) i {
  position: relative;
  right: 20.25px;
}

.social-links li:nth-of-type(3) i {
  position: relative;
  right: 8px;
}

.social-links li:nth-of-type(4) i {
  position: relative;
  right: 30px;
}

/* Hidden Elements */

#primary-nav-links {
  display: none;
}

.secondary-nav-hidden {
  display: none;
}

.nav-menu-hidden {
  display: none;
}

.x-menu-hidden {
  display: none;
}