/* 
Tablet-sized screens
*/

@media only screen and (min-width: 768px) {

  /* Navigation */
  /* Hiding Mobile Nav */

  #nav-menu {
    display: none;
  }

  #secondary-nav {
    display: none;
  }

  /* Navigation */
  /* Responsive Primary Nav */

  #primary-nav-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    padding: 0 16px;
  }

  #primary-nav-links li {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 7%;
    color: rgb(247, 246, 197);
    text-shadow: -2px 2px black;
  }

  /* Main */
  /* #page-heading */

  #page-heading {
    font-size: 3.83em;
    padding: 40px 0;
  }

  /* index.html - #main-content */

  /* Sidebar */
  /* Sidebar - General */

  #recent-blog-posts h3,
  #latest-looks h3 {
    font-size: 1.5em;
  }

  #recent-blog-posts {
    padding-bottom: 15px;
  }

  #latest-looks {
    padding-bottom: 35px;
  }

  /* Sidebar */
  /* Sidebar - Recent Blog Posts */

  #blog-post-list {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 32px;
  }

  .blog-snippet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 31%;
    border-radius: 5px;
    background-color: #C6C5A6;
  }

  .blog-snippet-thumbnail img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .blog-snippet-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 10px 8px;
  }

  .blog-snippet-title-date {
    margin: 0 0 auto;
  }

  .blog-snippet-title-date p:nth-child(2) {
    font-size: .9em;
    font-style: italic;
    margin: 15px 0;
  }

  .blog-snippet-read-more {
    margin: 0;
    text-decoration: underline;
    text-align: center;
    font-size: 0.9em;
  }

  /* Media Query to contain the following sidebar styles within tablet size only */

  @media only screen and (max-width: 1023px) {

    /* Sidebar */
    /* Sidebar - Latest Looks */

    #latest-looks-list {
      grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(195px, 1fr);
      grid-gap: 15px;
      overflow-x: auto;
      padding: 0 10px;
    }

    .look-snippet {
      margin: 0px 0 15px 0px;
    }

    /* Sidebar */
    /* Sidebar - #latest-looks-list - Horizontal Scrollbar */

    .visible-scroll::-webkit-scrollbar {
      height: 7px;
      background-color: rgba(72, 71, 36, .3);
    }

    .visible-scroll::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(72, 71, 36, .8);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255);
    }

    .scrollbar-div-visible {
      height: 7px;
      width: 100%;
    }

  }

  /* Footer */

  #footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #footer-container h3 {
    font-size: 1.7em;
  }

  #footer-container li {
    font-size: 1.05em;
  }

  #footer-div-1,
  #footer-div-2 {
    flex: 1 1 100%;
  }

  .social-links li {
    width: 97px;
  }

  #footer-div-3 {
    font-size: .8em;
  }

  #footer-div-3 p:first-child {
    padding: 0 12.5px 0 0;
  }

  #footer-div-3 p:last-child {
    padding: 0 0 0 12.5px;
  }
}